@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&display=swap');
@import './styles/partials/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $main-font;
  line-height: 1.3;
  background-color: $color-dark;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: $color-secondary;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}