@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './styles/partials/variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: $color-secondary;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}