@import './partials/variables';

#chat-drawer-body {
  display: flex;
  flex-direction: column;
  height: 100%;

  .head-area {
    display: flex;
    padding-bottom: 1rem;
    
    .header-inner-area {
      flex: 1;
      padding: 0 1rem;

      .header-text-area {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header {
          line-height: 100%;
          font-family: $main-font;
          color: $color-secondary;
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
    }
  }

  .chat-area {
    flex: 1;
    position: relative;

    .messages-main-area {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 1rem;
      overflow-y: scroll;
    }
  }

  .bottom-area {
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;

    .message-input-area {
      flex: 1;

      .message-input-inner-area {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    .icon-area {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}