@import './partials/variables';

.footer-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fdfdfd;
  padding: 0.5rem 0;
  z-index: 3;

  .footer-text {
    text-align: center;
    color: $color-secondary;
  }
}