@import './partials/variables';

#meeting-area {
  height: 90vh;
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease-out;

  .meeting-info {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0.5rem;

    .room-id-area {
      height: 100%;
      display: flex;
      align-items: center;

      .room-id {
        color: $color-primary;
        margin-right: 0.5rem;
        
        @media (max-width: 420px) {
          margin-top: 0.5rem;
        }
      }
    }

    @media (max-width: 420px) {
      padding-left: 1rem;
    }
  }

  .videos-area {
    flex: 1;
    padding: 2rem;
    overflow-y: scroll;
  }
}