@import './partials/variables';

.preroom-main-area {
  padding: 2rem 0;

  .username-area {
    display: flex;
    justify-content: center;

    .username-input-area {
      width: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      border-radius: 5px;
      padding-top: 1rem;

      @media (max-width: 600px) {
        width: 85%;
      }
    }
  }

  .info-area {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    .inner-info-area {
      width: 50%;
      position: relative;

      .stream-area {
        height: 30rem;
        display: flex;
        justify-content: center;

        .stream-video {
          width: auto;
          height: 100%;
          border-radius: 20px;

          @media (max-width: 600px) {
            width: 100%;
          }
        }
      }

      .stream-buttons-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column-reverse;

        .inner-stream-buttons-area {
          display: flex;
          padding: 1rem 0;

          .icon-container {
            flex: 1;
            display: flex;
            justify-content: center;
          }
        }
      }

      @media (max-width: 600px) {
        width: 90%;
      }
    }
  }

  .join-area {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    #join-button {
      background: #fefefe;
      color: $color-secondary;
      padding: 0.4rem 1.4rem;
      border: 1px solid $color-primary;
      border-radius: 50px;
      font-size: 1.4rem;
      transition: background-color 0.2s, color 0.2s;
      transition-timing-function: ease-in-out;
      cursor: pointer;

      &:hover {
        background: transparent;
        color: #fefefe;
      }

      @media (max-width: 600px) {
        display: inline-block;
      }
    }
  }
}